*{
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}


:root{
    --color-main: #303030;
    --color-window: #232323;
    --color-footer: #1C1C1C;
    --color-info: #FFFFFF;
    --color-hover: #F0DFCC;
}


h1,
h2,
p,
button,
i,
a{
    position: relative;
    z-index: 2;
    font-family: 'Inter', sans-serif;
    color: var(--color-info);
    
}

ul,
li{
    list-style-type: none;
}

body{
    background: var(--color-main);
    
}


.circle1{
    position: absolute;
    top: 10px;
    right: 0;
    width: 400px;
    height: 400px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle2{
    position: absolute;
    top: 275px;
    right: 380px;
    width: 80px;
    height: 80px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}


.circle3{
    position: absolute;
    top: 90px;
    right: 425px;
    width: 200px;
    height: 200px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle4{
    position: absolute;
    top: 1775px;
    left: 0;
    width: 423px;
    height: 423px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle5{
    position: absolute;
    top: 3130px;
    right: 350px;
    width: 200px;
    height: 200px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle6{
    position: absolute;
    top: 3380px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle7{
    position: absolute;
    top: 3380px;
    left: 200px;
    width: 100px;
    height: 100px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}


.circle8{
    position: absolute;
    top: 3475px;
    left: 150px;
    width: 425px;
    height: 425px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle9{
    position: absolute;
    top: 3800px;
    right: 250px;
    width: 425px;
    height: 425px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle10{
    position: absolute;
    top: 4230px;
    right: 240px;
    width: 200px;
    height: 200px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle11{
    position: absolute;
    top: 4400px;
    right: 150px;
    width: 100px;
    height: 100px;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
}



header img{
    width: 250px;
    object-fit: cover;
}

.fa-bars{
    float: left;
    font-size: 50px;
}


#wrap {
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    color: var(--color-info);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.nav label {
    height: 44px;
    float: right;
    display: block;
    margin-right: -30px;
}

a,
label {
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-info);
}

.menu-deroulant-desc{
    margin-top: 50px;
    text-align: center;
}

.menu-deroulant-desc a{
    width: 195px;
    padding: 20px 5px 20px 5px;
    transition: ease-in-out 400ms;
}

.menu-deroulant-desc a:hover{

    background-color: var(--color-hover);
    color: #000000;
}

#menu-deroulant {
    transition: 0.5s ease-in-out;
    width: 300px;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -250px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
}

.nav {
    margin-top: 20px;
    padding: 25px;
}


#menu {
    display: none;
}

#menu:checked ~ #menu-deroulant {
    left: 0px;
    background-color: #000000;
}

label > span {
    display: none;
}

#menu:checked ~ #menu-deroulant label > span {
    display: block;
    font-size: 48px;
    line-height: 48px;

}

#menu:checked ~ #menu-deroulant label > i {
    display: none;
}



.present{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;   
}

.photo_profil{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.photo_profil img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.present-info{
    text-align: center;
}

.present-info h1{
    font-size: 48px;
}

.present-info h2{
    font-size: 40px;
}

.propos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    background-color: var(--color-window);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.propos h2{
    font-size: 36px;
}

.desc{
    background-color: var(--color-main);
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.desc p{
    padding: 16% 20%;
    font-weight: 700;
    font-size: 24px;
}

.comp{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    background-color: var(--color-window);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.comp h2{
    font-size: 36px;
    
}


.comp-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 50px;
}

.column{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column p {
    margin-top: 30px;
}

.column-progress{
    display: none;
}

.bar{
    height: 365px;
    width: 1px;
    background-color: #FFFFFF;
}

.circle-web{
    position: absolute;
    top: 340px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 9999;
    background-color: #FFFFFF;
    transition: all 1.5s ease;
    transition-delay: 1s;
}

.circle-illu{
    position: absolute;
    z-index: 9999;
    top: 340px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: all 1.5s ease;
    transition-delay: 1s;

}

.circle-photo{
    position: absolute;
    z-index: 9999;
    top: 340px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: all 1.5s ease;
    transition-delay: 1s;

}

.circle-page{
    position: absolute;
    z-index: 9999;
    top: 340px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: all 1.5s ease;
    transition-delay: 1s;

}

.circle-video{
    position: absolute;
    z-index: 9999;
    top: 340px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: all 1.5s ease;
    transition-delay: 1s;

}

.circle-maquette{
    position: absolute;
    z-index: 9999;
    top: 340px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: all 1.5s ease;
    transition-delay: 1s;

}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projets{
    position: relative;
    z-index: 2;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    background-color: var(--color-window);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.projets h2{
    font-size: 36px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.image1{
    width: 60%;
    height: 350px;
}

.image1 img{
    height: 350px;
    object-fit: cover;
}

.image2 img{
    height: 350px;
    object-fit: cover;
}

.image2{
    width: 38%;
    height: 350px;
}

.projets img{
    width: 100%;
}

.voirplus{
    font-weight: 700;
    font-size: 36px;
    width: 268px;
    height: 100px;
    background-color: var(--color-main);
    border-radius: 177px;
    border: 1px solid var(--color-main);
    margin-top: 30px;
    transition: ease-in-out 400ms;
}


.voirplus:hover{
    background: var(--color-hover);
    color: #000000;
}

.exp{
    position: relative;
    z-index: 2;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    background-color: var(--color-window);
    padding: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.exp h2{
    font-size: 36px;
}


.exp-desc{
    width: 33%;
}


.exp-desc img{
    width: 100%;
}

#retourner {
    position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

#retourner-block {
  transform: rotateY(0deg);
  transition: 500ms ease-in-out;
}

#retourner-block:hover {
  transform: rotateY(180deg);
}

#retourner-block:hover #cache {
  z-index: 1;
}

#cache {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  transition: 500ms ease-in-out;
  background-color: var(--color-main);
}

#cache p {
  color: white;
  position: absolute;
  top: 140px;
  right: 0;
  left: 0;
  transform: rotateY(180deg);
}


.cv{
    position: relative;
    z-index: 2;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    background-color: var(--color-window);
    padding: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.cv h2{
    font-size: 36px;
}

.cv-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.cv-container button{
    font-weight: 700;
    font-size: 2.3vw;
    padding: 8%;
    background-color: var(--color-main);
    border-radius: 177px;
    border: 1px solid var(--color-main);
}


.cv-container button:hover{
    background-color: var(--color-hover);
    transition: ease-in-out 400ms;
}

.cv-container button:hover p{
    transition: ease-in-out 400ms;
    color: #000000;
}



.cv-container-img{
    width: 450px;
    background-color: var(--color-main);
    transition: ease-in-out 400ms;
}

.cv-container-img img{
    width: 100%;
    height: 100%;
}


.cv-container-img:hover{
    background: var(--color-hover);
}

.cv-container-img img{
    width: 331px;
}

.content-arrow{
    display: flex;
    justify-content: end;
    margin: 0 150px 30px 0;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25% 40%;
    border-radius: 50%;
    background: var(--color-window);
    font-size: 80px;
    transition: ease-in-out 400ms;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}


.arrow:hover{
    background: var(--color-hover);
}

.arrow:hover i{
    color: #000000;
}

footer{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-footer);
    padding: 40px;
}

footer h2{
    font-size: 36px;
}

.rs{
    display: flex;
    gap: 20px;
    color: #FFFFFF;
}

.rs a {
    font-size: 90px;
}

.display{
    display: block;
}

.overlay{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: 5;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-container{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 40%;
    text-align: center;
	height: 750px;
	margin: auto;
	background-color: var(--color-main);
	border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
    padding: 30px;
}


.modify-gallery{
    position: relative;
}

.circle12{
    position: absolute;
    top: 80px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle13{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100px;
    height:100px;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.circle14{
    position: absolute;
    top: 480px;
    right: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--color-window);
    box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.9)
}

.absolute{
	position: absolute;
	top: 30px;
	right: 40px;
	font-size: 24px;
}



.banner {
    height: 350px;
    margin-top: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
	max-width: 500px;
    text-align: center;
}

.projet-text{
    background-color: var(--color-main);
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
    padding: 6% 10%;
}

.carousel .arrow-slide {
	position: absolute;
    z-index: 5;
}
.carousel .arrow_left {
	left: 10px;
    font-size: 34px;
}
.carousel .arrow_right {
    font-size: 34px;
	right: 10px;
}

.item{
    height: 600px;
}

.content-form{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: var(--color-window);
    transition: ease-in-out 400ms;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
}

.form i {
    font-size: 30px;
}

.form:hover{
    background: var(--color-hover);
}

.form:hover i{
    color: #000000;
}

.modal-form{
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 30%;
    text-align: center;
	height: 500px;
	margin: auto;
	background-color: var(--color-main);
	border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
    padding: 30px;
}

.close{
    position: absolute;
	top: 30px;
	right: 40px;
	font-size: 24px;
}
form ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form li{
    margin-top: 30px;
}

input{
    margin-top: 10px;
    border-radius: 7px;
    border: none;
}

textarea{
    margin-top: 10px;
    border-radius: 7px;
    border: none;
}

#name{
    width: 300px;
    height: 20px;
}
#mail{
    width: 300px;
    height: 20px;
}

#msg{
    width: 300px;
    height: 150px;
}

.hidden{
    display: none;
}